<div class="preloader" data-preloader>
  <div class="preloader__quad"></div>
  <div class="preloader__quad"></div>
  <div class="preloader__quad"></div>

  <div class="preloader__panel">
    <img class="preloader__logo" src="/assets/img/brand/wordmark.png" width="145" height="54" alt="{{ site.name }}">
    <div class="preloader__meta">
      <div>// Please wait</div>
      <div>// Loading <span data-preloader-pct>000</span></div>
    </div>
  </div>
</div>
