<div class="preloader" data-preloader>
  <div class="preloader__quad"></div>
  <div class="preloader__quad"></div>
  <div class="preloader__quad"></div>

  <div class="preloader__panel">
    <div class="preloader__word">{% include "partials/logotype.njk" %}</div>
    <div class="preloader__meta">
      <div>// Please wait</div>
      <div>// Loading <span data-preloader-pct>000</span></div>
    </div>
  </div>
</div>
